footer.footer
    .wrap__footer
        h2(class="footer__header")!="Effective Advanced <br>" + "<span>Technologies</span>"
        .footer__info
            div(class="footer__links Houstion")
                h3 Houstion
                p 22955 State Hwy. 249, Suite 33 <br>Tomball, Texas 77375
                div
                    p!="Ph:" + "<a>832.559.1608</a>"
                    p!="Fax:" + "<a>832.559.1610</a>"
            div(class="footer__links Midland")
                h3 Midland
                p 2206W. New Jersey Ave. <br>Midland, TX 79701
                p!="Ph:" + "<a>432.789.1080</a>"
            img(src="/icons/footer__line.svg", class="footer__img", alt="")
            div(class="footer__links dop")
                a(href="#") компания
                a(href="#") продукты и услуги
                a(href="#") пресс центр
                a(href="#") контакты
        .footer__desc
            p(class="footer__first-desc") © Frontier MWD Systems LLC. 2019
            p(class="footer__second-desc")!= "<span></span>" + "LinkedIn"
            p(class="footer__third-desc") Design by 
                a(href="https://onlydigital.ru/", target="_blank")  Only.